<nav class="
">
<div class="
  flex  flex-row
">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="
      m-1
      px-2
      text-4xl
      basis-1/4
    ">
      <!-- <button type="button" class="
      " data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="
        ">Toggle navigation</span>
        <span class="
        "></span>
        <span class="
        "></span>
        <span class="
        "></span>
      </button> -->
      <a class="
      " href="/">Project Organizer</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="
      px-2
      basis-3/4
      justify-start
      ">
      <ul class="
        

      ">
        <li><a href="/projects/new">New Project</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
